:root {
                    --ast-container-default-lg-padding: 0em !important;

}

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

body * {
    font-family: 'Syne', sans-serif;
}

html {
    --ast-container-default-xlg-padding: 0em !important;
}

.ast-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 100% !important;
}

.content-area {
    margin: 0px 0px !important;
}

.wp-block-uagb-container {
    padding: 0px 0px !important;
}

/*Header et Footer */
.ast-builder-button-wrap {
    width: 236px;
    text-align: center;
    font-weight: 700 !important;
    font-size: 16px !important;
}

.menu-item-124 , .admin{
    font-size: 16px !important;
    font-weight: 400 !important;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 80px;
}
.logo {
    width: 200px;
    height: 20px;
    margin: 30px 0px 0px 40px;
}
.header-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.rencontrer {
margin: 30px 0px 0px 60.5%;
text-decoration: none;
color: black;
}

.commander {
    width: 236px;
    margin: 0px 0px 0px 11%;
}
.footer {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 60px;
    font-size: 16px
}

footer a {
    color: black !important;
    text-decoration: none !important;
}

/* Acceuil */

.titre-accueil {
    height: 92px;
    font-weight: 800 !important;
    font-size: 38px !important;
    line-height: 45.6px;
}
.first-section {
    height: 415px;
}
.first-section-title {
    height: 36px !important;
    font-weight: 700 !important;
    font-size: 30px !important;
    line-height: 36px!important;
}
.first-section-text {
    height: 120px;
    line-height: 24px;
}
.fruits-title{
    height: 36px !important;
    font-size: 30px !important;
    font-weight: 800 !important;
}

.fruits-text {
    height: 24px !important;
    font-weight: 400 !important;
    font-size: 20px !important;
}

.fruits-typo {
font-size: 48px !important;
font-weight: 800 !important;
line-height: 58px !important;
text-align: center;
}

.button-commander a{
    border-radius: 5px !important;
    width: 198px !important;
    height: 55px !important;
    font-weight: 400 !important;
    font-size: 15px !important;
}

.third-section-title {
    font-weight: 800 !important;
    font-size: 30px !important;
}

.third-section-nom {
    font-weight: 700 !important;
    font-size: 30px !important;
}

.third-section-text {
    font-weight: 400 !important;
    font-size: 16px !important;
}


/* Contact */


.bloc-2-contact {
    width: 100% !important;
}

.can-footer {
    width: 100% !important;
}

.fleur {
    position: absolute;
    left: 23%;
    top: 5.5%;
}

.feuilles {
    position: absolute;
    left: 78%;
    top: 36%;

}

.post-80 {
    padding: 0px !important;
}

.form-contact {
    width: 20% !important;
    margin-left: auto;
    margin-right: auto;

}

.form-fleur {
    position: absolute;
    left: 37%;
    top: 71.8%;
}

.submit-button {
    display: flex;
    align-items: center;
    margin-left: 25%;
}

.form-submit {
    background-color: #E0B9B4 !important;
    width: 198px !important;
    height: 55px !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 37px !important;
}


/* Contact TYPO */

.contact-title {
    font-weight: 800 !important;
    font-size: 38px !important;
}

.contact-text {
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 24px !important;
}

.equipe-title {
    font-weight: 700 !important;
    font-size: 30px !important;
    line-height: 36px !important;
}

.equipe-name {
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 24px !important;
}

.equipe-role {
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 24px !important;
}

.form-title {
    font-weight: 700 !important;
    font-size: 30px !important;
    line-height: 36px !important;
}

.form-typo {
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 24px !important;
}


/* Commander */

.page-id-107 , .post-107 {
    background-color: #3B8E46 !important;
}

.form-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 35px !important;
}

.quantity-form-row {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.img-quantity {
    padding-bottom: 10px;
}
.row-quantity {
    display: flex !important;
    flex-direction: row !important;
    gap: 10px;
}

.row-quantity-2 {
    display: flex !important;
    flex-direction: row !important;
    gap: 0px !important;
}
.button-quantity {
    width: 100px !important;
    height: 56px !important;
    border-radius: 5px !important;
    background-color: #E0B9B4 !important;
}

.button-input-quantity-plus {
    background-color: #E0B9B4 !important;
    height: 28px !important;
    width: 31px !important;
    padding: 0px;
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid white;
    font-size: 20px !important;
    font-weight: 400 !important;
}

.button-input-quantity-minus {
    background-color: #E0B9B4 !important;
    height: 28px !important;
    width: 31px !important;
    padding: 0px;
    border-radius: 0px;
    border-bottom-right-radius: 5px;
    font-size: 20px !important;
    font-weight: 400 !important;
}


.fruits {
    width: 51px !important;
    height: 56px !important;
    border-radius: 0px !important;
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

.ligne-vertical {
    padding-right: 70px;
    border-right: 2px solid white;
    height: 345px;
}

.ligne-horizontal {
    border-bottom: 1px solid white;
    width: 48%;
}

hr {
    border-color: white !important;
    width: 48%;
    border-width: 2px;
}
.double-bloc {
    /*gap: 0px !important;*/
}

.bloc-livraison {
    margin-left: 30px;
}

.button-submit {
    background-color: #E0B9B4 !important;
    width: 198px !important;
    height: 55px !important;
    margin-left: 80px !important;
    border-radius: 5px !important;
}


/* Commander TYPO */

.titre-commander {
    font-weight: 800 !important;
    font-size: 38px !important;
    color: white !important;
}

.typo-case {
    font-weight: 400 !important;
    font-size: 20px !important;
    color: white !important;
}

.typo-titre-section {
    font-weight: 700 !important;
    font-size: 30px !important;
    color: white !important;
}

@media only screen and (max-width:1900px) {


    /* Responsive Contact */
    .fleur {
        left: 20% !important;

    }
}

@media only screen and (max-width:1700px) {

    /* Responsive Contact */
    .fleur {
        left: 12% !important;

    }
    .form-fleur {
    left: 35% !important;
    top: 73% !important;
}

}

@media only screen and (max-width:1360px) {


    /* Responsive Contact */
    .fleur {
        left: 1% !important;

    }
    .feuilles {
        left: 80% !important;
        top: 36.8%;
    }

    .form-fleur {
    left: 40 !important%;
    top: 75% !important;
}
}

@media only screen and (max-width:1023px) {

    .titre-accueil {
        max-width: 320px !important;
        font-size: 20px !important;
    }

    .third-section {
        display: flex !important;
        flex-direction: column !important;
    }

    .uagb-container__shape-fill {
        display: none !important;
    }


    /* Responsive Contact */
    .fleur {
        display: none !important;
    }
    .feuilles {
        display: none !important;
    }

    .form-fleur {
    display: none !important;
}
}

@media only screen and (max-width:768px) {

    .site-content {
        background-color: #ECE2DA;
    }

    .content-area {
        padding: 0px !important;
    }

    /* Responsive Contact */

    .form-contact {
    width: 40% !important;
}
    .submit-button {
    margin-left: 18% !important;
}
    .post-80 {
        background-color: #ECE2DA !important;
    }


    /* Responsive Commander */

    .quantity-form-row {
        flex-direction: column !important;
        gap: 8px !important;
    }

}


@media only screen and (max-width:425px) {

    .site-content {
        background-color: #ECE2DA;
        margin: 0px !important;

    }

    .content-area {
        max-width: 380px !important;
        margin-left: 22.5px !important;
        margin-right: 22.5px !important;
    }

    /* Responsive Acceuil */


    .spacer-1 {
        display: none !important;
    }

    .fruits-typo {
        font-size: 36px !important;
    }

    /* Responsive Contact */

    .form-contact {
    width: 60% !important;
}


    .submit-button {
    margin-left: 25% !important;
}
    .form-submit {
        width: 120px !important;
        height: 30px !important;
        line-height: 0px !important;
    }

     /* Responsive Commander */

     .double-bloc {
        flex-direction: column !important;
     }

     .ligne-vertical {
        border: none;
        padding-right: 0px !important;

     }

     .bloc-livraison {
        margin-left: 0px !important
     }

}

@media only screen and (max-width:375px) {

    .site-content {
        background-color: #ECE2DA;
        margin: 0px !important;

    }

    .content-area {
        max-width: 350px !important;
        margin-left: 12.5px !important;
        margin-right: 12.5px !important;
    }

     /* Responsive Acceuil */

    .spacer-1 {
        display: none !important;
    }

    .fruits-typo {
        font-size: 36px !important;
    }

    /* Responsive Contact */

    .submit-button {
    margin-left: 20% !important;
    }

    .button-submit {
        margin-left: 10% !important;
    }
}

@media only screen and (max-width:320px) {

    .site-content {
        background-color: #ECE2DA;
        margin: 0px !important;

    }

    .content-area {
        max-width: 280px !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    /* Responsive Acceuil */
    .spacer-1 {
        display: none !important;
    }

    .first-section-text {
        font-size: 16px !important;
    }

    .fruits-typo {
        font-size: 30px !important;
    }

    /* Responsive Contact */


    .contact-title {
        font-size: 30px !important;
    }

    .form-submit {
        width: 80px !important;
        height: 30px !important;
        padding-left: 12px !important;
        line-height: 0px !important;
    }

    .submit-button {
    margin-left: 27% !important;
}

}