@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

body * {
    font-family: 'Syne', sans-serif;
}

/*Header et Footer */
.header {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 80px;
}
.logo {
    width: 200px;
    height: 20px;
    margin: 30px 0px 0px 40px;
}
.header-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.rencontrer {
margin: 30px 0px 0px 70%;
text-decoration: none;
color: black;
}
.commander {
    width: 236px;
    margin: 0px 0px 0px 11%;
}
.footer {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 60px;
    font-size: 16px
}

.footer a {
    color: black;
}

/* Acceuil */

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-1 h1 {
    font-weight: 800;
    font-size: 38px;
    color: #3B8E46;
}

.section-1 div {
    width: 100%;
}
.fleur {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 350px;
    height: 400px;
}
.fleur-gauche {
    bottom: 5%;
    left: 34.5%;
}
.fleur-droite {
    top: 58%;
    right: 32.5%;
}
.canette {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1307px;
    height: 950px;
    position: relative;
}